.navbar{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}
.navbar img{
    margin: 0;
    padding: 0;
    max-width: 100%;

}
.menu{
    margin-top: 2%;
    margin-left: 50%;
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    
}
.menu a{
    color: black;
    font-size: x-large;
    text-decoration: none;
}


.dropdown {
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: x-large;  
    border: none;
    outline: none;
    color: rgb(16, 13, 13);
    
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(138, 138, 138);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
   
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }




  * {box-sizing: border-box}

.slideshow-container {
 max-width: 100%;
 position: relative;

}

.mySlides {
 display: none;
 width: 100%;
 text-align: center;
}

.mySlides img {
 width: 100%;
}

.prev, .next {
 cursor: pointer;
 position: absolute;
 top: 50%;
 width: auto;
 margin-top: -22px;
 padding: 16px;
 color: white;
 font-weight: bold;
 font-size: 18px;
 transition: 0.6s ease;
 border-radius: 0 3px 3px 0;
 user-select: none;
}

.next {
 right: 0;
 border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
 background-color: rgba(0,0,0,0.8);
}

.fade {
 -webkit-animation-name: fade;
 -webkit-animation-duration: 1.5s;
 animation-name: fade;
 animation-duration: 1.5s;
}

@-webkit-keyframes fade {
 from {opacity: 0.4} 
 to {opacity: 1}
}

@keyframes fade {
 from {opacity: 0.4} 
 to {opacity: 1}
}



